.addNews {
    width: 100%;
    padding-top: 5em;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.allNews-b {
    width: 100vw;
    padding-right: 17em;
    transition: .5s;
}
.allNews {
    width: 100vw;
    transition: .5s;
}
.addNews .forms {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    gap: 2em;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .5px;
}
.addNews .form {
    direction: rtl;
    width: 40%;
}
.addNews .form h4 {
    margin-bottom: .5em;
}
.addNews .form .input {
    width: 100%;
    border: .5px solid rgb(187, 187, 187);
    padding: .5em;
}
.addNews .form .textarea {
    width: 100%;
    border: .5px solid rgb(187, 187, 187);
    padding: .5em;
    height: 10em;
    resize: none;
}
.submitNewsBtn {
    background-color: rgb(41, 151, 235);
    color: white;
    border: none;
    padding: .5em 2em;
    margin-top: 5em;
    font-size: 16px;
    cursor: pointer;
}
.submitNewsBtn:hover {
    background-color: rgb(60, 167, 250);
}
.addImgBtn {
    background-color: rgb(41, 151, 235);
    color: white;
    border: none;
    padding: .5em 2em;
    font-size: 16px;
    cursor: pointer;
    margin-right: auto;
    margin-left: 5em;
    margin-bottom: 5em;
}
.addImgBtn:hover {
    background-color: rgb(60, 167, 250);
}
.addNews .modal {
    position: absolute;
    width: 20em;
    height: 20em;
    background-color: whitesmoke;
    border: 2px solid rgb(60, 167, 250);
    direction: rtl;
    padding: 2em;
}
.addNews .modal .closeIcon {
    font-size: 1.25em;
    cursor: pointer;
    margin-bottom: .5em;
}
.addNews .modal .file-input {
    margin-top: 2em;
}