.menu {
    width: 17em;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(0%);
    transition: .5s;
}
.menu-hidden {
    width: 17em;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: .5s;
}
.menu-head {
    background-color: rgb(42, 48, 74);
    width: 17em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-head .menu-icon {
    color: rgb(148, 148, 148);
    font-size: 1.5rem;
    margin-right: auto;
    margin-left: 1em;
    cursor: pointer;
}
.menu-title {
    background-color: rgb(74, 82, 118);
    color: rgb(213, 213, 213);
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    gap: .75em;
    cursor: pointer;
}
.menu-title:hover {
    background-color: rgb(81, 89, 126);
}
.menu-title .point-icon {
    width: 8px;
    height: 8px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    border-color: rgb(126, 139, 198);
    transform: rotate(45deg);
    margin-right: auto;
    margin-left: 1.5em;
}
.menu-title .point-icon2 {
    width: 8px;
    height: 8px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    border-color: rgb(126, 139, 198);
    transform: rotate(45deg);
    margin-right: auto;
    margin-left: 1.5em;
}
.menu-title .icon {
    color: rgb(126, 139, 198);
    margin-right: 2em;
}
.menu-category {
    background-color: rgb(42, 48, 74);
    color: rgb(186, 186, 186);
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    gap: .75em;
    cursor: pointer;
    animation: .25s anim-category-open ease-out;
}
@keyframes anim-category-open {
    from {
        height: 0;
    }
    to {
        height: 4em;
    }
}
.menu-category-hidden {
    background-color: rgb(42, 48, 74);
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    gap: .75em;
    cursor: pointer;
    color: transparent;
    animation: .25s anim-category-close ease-out;
}
@keyframes anim-category-close {
    from {
        height: 4em;
        color: rgb(186, 186, 186);
    }
    to {
        height: 0;
        color: transparent;
    }
}
.menu-category:hover {
    background-color: rgb(51, 58, 90);
}
.menu-category p {
    margin-left: auto;
    margin-right: 3em;
}
.menu-category-hidden p {
    margin-left: auto;
    margin-right: 3em;
}